<!DOCTYPE html>
<html>

<head>
    <title>Titre de la page</title>
</head>

<body>
    <header>
        {% block header%}
        {% include 'components/_header.html' %}
        {% endblock %}

    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer%}
        {% include 'components/_footer.html' %}
        {% endblock %}
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>